"""
This file is used to store the environment variables for the project.
使用引号时，python-dotenv 会自动去除引号，所以在代码中使用 `os.getenv()` 获取值时，不会包含这些引号。
"""

# Tushare API token
TUSHARE_TOKEN=YOUR TOEKN HERE

# 数据库选择和连接字符串
# DB_NAME 数据库名称 目前可接受的字符串有aliyun = 0；aws = 1；localhost = 2；centos9 = 3；ubuntu186 = 4；ubuntu191 = 5
DB_NAME="localhost"
# 根据DB_NAME的值选择数据库连接字符串
# 备注：理论上这里的DB_CONN应该是一个固定值，但是为了和原有程序进行兼容，所以拆分成了DB_NAME和DB_CONN两个变量
ALIYUN_DB_CONN=YOUR CONN STRING HERE
AWS_DB_CONN=YOUR CONN STRING HERE
LOCAL_DB_CONN=YOUR CONN STRING HERE
CENTOS9_DB_CONN=YOUR CONN STRING HERE
UBUNTU186_DB_CONN=YOUR CONN STRING HERE
UBUNTU191_DB_CONN=YOUR CONN STRING HERE

# JQDATA的授权信息 目前已不再使用JQDATA，这里填写的目的去除代码中的显式敏感信息
JQDATA_USER=YOUR JQDATA_USER HERE
JQDATA_PASSWORD=YOUR JQDATA_PASSWORD HERE